.containerFooter{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:flex;
    flex-direction: row;
    padding: 20px 0px;
    font-size: 20px;
}
.contactoFooter{
    padding: 2%;
}
.tituloFooter{
    display: contents;
    color: black;
    font-size: 250%;
}
p{
    font-size: 70%;
}
a{
    text-decoration: none;
    color: white;
    font-family: century gothic;
}
a i{
    font-size: 30px;
    padding-left: 2px;
}
.contactoSec{
    padding: 20px 0 0 40px;
}
.compartirSec{
    padding: 20px 0 0 40px;
}
.iconFooter{
    font-size: 14px;
}
.whatsapp{
    margin-left: 4px;
}
.facebook{
    margin-left: 4px;
}
.instagram{
    margin-left: 4px;
}
.twitter{
    margin-left: 4px;
}