.containerGaleria{
    padding: 85px 150px 30px 50px;
    color: black;
    font-size: 40px;
    font-family: century gothic;
}
.menuGaleria{
    display: flex;
}
.imagenHabitaciones{
    width: 100%;
    height: 100%;
}
.standard{
    padding: 15px 0 15px 15px;
}
.deluxe{
    padding: 15px 0 15px 15px;
}