.containerGaleria{
    padding: 50px 150px 30px 50px;
    color: black;
    font-size: 320%;
}
.menuGaleria{
    background-color: rgb(209, 209, 164);
    display: flex;
}
.imagenHabitaciones{
    width: 100%;
    height: 100%;
}
.standard{
    padding: 15px 0 15px 15px;
}
.deluxe{
    padding: 15px 0 15px 15px;
}