.containerHabitaciones{
    padding: 50px 50px 30px 30px;
    font-size: 35px;
}
.tituloHabitaciones{
    font-family: century gothic;
    font-size: 30px;
    color: blue;
}
.infoHabitaciones1{
    font-family: century gothic;
    font-size: 20px;
}
.infoHabitaciones2{
    font-family: century gothic;
    font-size: 20px;
}
.menuHab{
    padding: 10px;
}