.containerHabitaciones{
    padding: 85px 50px 30px 30px;
    font-size: 40px;
    font-family: century gothic;
}
.tituloHabitaciones{
    font-family: century gothic;
    font-size: 30px;
    color: blue;
}
.infoHabitaciones1{
    font-family: century gothic;
    font-size: 20px;
}
.infoHabitaciones2{
    font-family: century gothic;
    font-size: 20px;
}
.menuHab{
    padding: 10px;
}
.imagen1{
    padding: 2px;
}
.imagen2{
    padding: 2px;
}