.contenido{
    color: white;
    padding: 10px;
    background-color: black;
}
/* SE MODIFICA PARA RAMA DE ANIMACION */
main h1{
    color: orangered;
    font-family: century gothic;
    font-size: 26px;
    margin: 10px;
}
.parrafo{
    font-family: century gothic;
    font-size: 14px;
    text-align: justify;
}