@media screen and (max-width: 425px){
    .menu{
        display: grid;
        text-align: center;
    }
    .header{
        padding: 0px;
    }
    .menu li{
        font-size: 27px;
        height: 30px;
    }
    .headerImg{
        width: 159px;
        height: 159px;
    }
    .footer{
        display: grid;
        grid-template-rows: repeat(2, 0.1fr);
    }
    .footer p{
        font-size: 11px;
    }
    .containerFooter{
        padding: 0px;
    }
    .contactoFooter{
        padding: 0px;
    }
    .contactoSec{
        padding: 0;
    }
    .compartirSec{
        padding: 0;
        margin: 0 0 10px 0;
    }
    .btn-wsp{
        width: 44px;
        height: 44px;
        line-height: 44px;
        bottom: 10px;
        right: 41px;
    }
}